<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.sist.mapper.meber-mapper">
	<select id="idCountData" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM member
		WHERE id=#{id}
	</select>
	<select id="memberInfoData" resultType="MemberVO" parameterType="string">
		SELECT * FROM member
		WHERE id=#{id}
	</select>
</mapper>