<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.board-mapper">
	<select id="replyListData" resultType="BoardReplyVO" parameterType="int">
		SELECT rno, bno, id, name, msg, TO_CHAR(regdate, 'YYYY-MM-DD' H24:MI:SS) as dbday
		FROM project_board_reply
		WHERE bno=#{bno}
		ORDER BY rno DESC
	</select>
	<insert id="replyInsert" parameterType="BoardReplyVO">
		INSERT INTO project_board_reply VALUES(
			(SELECT NVL(MAX(rno)+1),1) FROM project_board_reply, #{bno},#{id}, #{name}, #{msg}, SYSDATE
		)
	</insert>

</mapper>